# Mercado Pago - Credenciais de Produção
MERCADOPAGO_ACCESS_TOKEN=APP_USR-4948508052320612-090417-52cf3c977b061c03b25a0bbd84920dd3-1423321368
MERCADOPAGO_PUBLIC_KEY=APP_USR-9a93521a-da15-453e-96c8-900600a6d124
MERCADOPAGO_CLIENT_ID=4948508052320612
MERCADOPAGO_CLIENT_SECRET=S4yxQc1IMuyoBMJn8r1WzmhIUKYCL90c
MERCADOPAGO_WEBHOOK_SECRET=a31984476039e38c886fc7a688a830d3bb52817b2ab5d8fce68866e1d899e98f

# Supabase - Configurações do Banco de Dados
SUPABASE_URL=sua_url_do_supabase
SUPABASE_ANON_KEY=sua_chave_anonima_do_supabase

# URLs do Sistema
NEXT_PUBLIC_BASE_URL=https://seudominio.com

# Configurações da Empresa
COMPANY_NAME="ApostAI - Apostas de futebol inteligentes"
